/* line 1, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
:root {
  line-height: var(--ratio);
  background-color: transparent;
  color: var(--color-dark);
  font-family: ltc-goudy-oldstyle-pro, serif;
  font-style: normal;
  font-weight: 400;
}

/* line 9, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
*
, *::before
, *::after {
  box-sizing: border-box;
  background-color: inherit;
  font: inherit;
  color: inherit;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 0;
  border-color: currentColor;
}

/* line 24, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
body {
  font-size: var(--s0);
  color: var(--color-dark);
  background-color: var(--color-light);
}

/* line 30, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
p, li {
  line-height: var(--s2);
  margin: var(--space-stack-default);
  hyphens: auto;
}

/* line 35, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
em {
  font-style: italic;
  font-weight: 400;
}

/* line 39, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
strong {
  font-style: normal;
  font-weight: 700;
}

/* line 43, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
em strong
, strong em {
  font-style: italic;
  font-weight: 700;
}

/* --------------------------------------------------------------- */
/* start: headings */
/* line 52, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
h1, h2, h3, h4 {
  margin: var(--space-stack-default);
}

/* line 55, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
h2, h3, h4 {
  margin-top: var(--space-xl);
}

/* line 58, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
h1 {
  font-size: var(--s4);
  font-weight: normal;
  font-variant-ligatures: no-contextual;
}

/* line 63, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
h2 {
  font-size: var(--s3);
}

/* end: headings */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* start: lists */
/* end: lists */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* start: links */
/* line 99, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
a {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--color-link);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-decoration-skip-ink: auto;
}

/* line 106, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
a:focus, a:focus-within {
  outline: none;
  background-color: var(--color-focus-light);
  text-decoration-color: var(--color-focus);
}

/* line 113, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
a:hover {
  text-decoration-style: dotted;
}

/* line 116, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
a:active {
  text-decoration-style: dashed;
}

/* end: links */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* start: mailchimp signup form */
/* line 138, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
#mc_embed_signup {
  font-family: Helvetica,Arial,sans-serif;
  letter-spacing: .05em;
  font-size: var(--s-3);
}

/* line 142, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
#mc_embed_signup form {
  padding: 0;
}

/* line 146, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
#mc_embed_signup input:focus {
  outline: none;
  border: 1px solid var(--color-focus);
}

/* line 150, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
#mc_embed_signup input:hover {
  border: 1px dotted var(--color-link);
}

/* line 153, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
#mc_embed_signup input:active {
  border: 1px solid var(--color-link);
}

/* line 157, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
#mc_embed_signup .mc-field-group {
  padding: 0;
  width: 100%;
  margin: var(--space-stack-s);
}

/* line 161, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
#mc_embed_signup .mc-field-group label {
  margin: var(--space-stack-xs);
}

/* line 164, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
#mc_embed_signup .mc-field-group input {
  padding: 5px 0 6px;
  font-size: var(--s0);
}

/* line 170, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  color: var(--color-link);
  padding: 0;
}

/* line 175, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
  border: 2px solid var(--color-link);
}

/* line 180, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
#mc_embed_signup .button {
  color: #000;
  background-color: #ddd;
}

/* line 183, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
#mc_embed_signup .button:hover {
  background-color: #666;
}

/* line 186, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
#mc_embed_signup .button:focus {
  background-color: #555;
}

/* line 190, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
#mc_embed_signup .button:active {
  background-color: #444;
}

/* line 195, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
#mc_embed_signup .button
, #mc_embed_signup .button:hover
, #mc_embed_signup .button:focus
, #mc_embed_signup .button:active {
  border: none;
}

/* line 202, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
#mc_embed_signup .button:hover
, #mc_embed_signup .button:focus
, #mc_embed_signup .button:active {
  color: #fff;
}

/* end: mailchimp signup form */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* start: https://css-tricks.com/on-target/ */
/* line 214, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
:target {
  animation: highlight 1s ease;
  transform: translateX(20px);
}

@keyframes highlight {
  0% {
    border-left-color: red;
  }
  100% {
    border-left-color: white;
  }
}

/* line 222, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
section > div {
  border-left: 40px solid white;
  padding: 10px;
  transition: all 0.5s ease;
  padding-right: 50px;
  margin-left: -20px;
}

/* end: https://css-tricks.com/on-target/ */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* start: responsive typography */
/* https://css-tricks.com/simplified-fluid-typography/ */
/* line 236, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
html {
  font-size: 10px;
}

@media screen and (min-width: 320px) {
  /* line 240, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
  html {
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  /* line 245, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/laurel/sass/x_main.scss */
  html {
    font-size: 16px;
  }
}

/* end: responsive typography */
/* --------------------------------------------------------------- */

/*# sourceMappingURL=x_main.css.map */