.layout-builder{
  word-break: break-word;
  .block-field-blocknodepostfield-media{
    float: none;
    @media all and (min-width: 800px){
      margin: 0;
    }
  }
}
.block-layout-builder{
  // margin-bottom: var(--space-between-blocks);
  h2:first-child{
    // border: 1px solid red;
    // margin-top: calc( var(--space-xl) - var(--space-between-blocks) );
  }
}
.block-field-blocknodeexternal-postfield-post-type{
  margin-bottom: var(--space-l);
}
.block-field-blocknodeeventfield-subtitle{
  // margin-bottom: calc( var(--space-between-title-group-and-body) - 2em );
}
.block-field-blocknodeposttitle:last-child
,.block-field-blocknodeexternal-posttitle:last-child
,.block-field-blocknodeposttitle+.block-field-blocknodepostfield-subtitle
,.block-field-blocknodeexternal-posttitle+.block-field-blocknodeexternal-postfield-subtitle
{
  margin-bottom: var(--space-between-title-group-and-body);
}
.block-field-blocknodeeventtitle:last-child{
  // border: 1px solid green;
}
#layout-builder:not(.layout-builder--content-preview-disabled){
  .layout-builder-block{
    padding: 0;
  }
}

// start - when editing the layout template, don't apply these attributes
.layout-builder--content-preview-disabled{
  .columns{
    column-width: initial;
  }
  .block-field-blocknodeeventfield-media
  ,.block-field-blocknodepostfield-media
  {
    float: none;
    margin: 0;
    width: 100%;
  }
}
// end - when editing the layout template, don't apply these attributes

