tabs.li{ // from tabs.css
  margin-top: 0.9em;
}
.menu-item{
  display: inline;
  padding: 0;
}
ul.menu{
  margin: 0;
}
header ul.menu a
,footer ul.menu a
,.tabs a
{
  text-decoration: none;
  background-color: transparent;
  padding: 12px 16px 4px 16px;
  line-height: calc( var(--line-spacing) + var(--space-m) );
  &:focus{
    color: var(--color-white);
    background-color: var(--color-focus-light);
    outline: none;
  }
}
ul.menu a.is-active:focus{
  color: var(--color-white);
}
ul.tabs{
  margin-bottom: 0;
}
.tabs{
  ul{
    @media all and (max-width: 500px){
      padding-bottom: var(--space-l);
    }
    border-bottom: 1px solid var(--color-text);
  }
  li:first-child{
    margin-left: var(--nav-tabs-margin-adjustment);
  }
  li:last-child{
    margin-right: var(--nav-tabs-margin-adjustment);
  }
  a{
    line-height: 1em;
    border: none;
    border: 1px solid var(--color-text);
    border-width: 1px 1px 0 1px;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: var(--color-region-inner-bg);
    &:focus{
      color: var(--color-text);
      background-color: var(--color-focus-light);
      border-top: 5px solid var(--color-focus-accent);
      padding-top: 5px;
    }
    &:not(.is-active):hover{
      background-color: var(--color-hover-light);
      border-top: 5px solid var(--color-hover-accent);
      padding-top: 5px;
    }
    &:active{
    }
    &.is-active{
      position: relative;
      top: 1px;
      font-weight: bold;
      background-color: var(--color-region-inner-bg);
      border-bottom: 1px solid var(--color-region-inner-bg);
      border-top: 5px solid var(--color-text);
      padding-top: 5px;
      @media all and (min-width: 501px){
        border-bottom: 1px solid var(--color-region-inner-bg);
      }
      &:focus{
        border-top: 5px solid var(--color-focus-accent);
      }
      &:hover{
        cursor: default;
      }
    }
  }
}
@media all and (max-width: 500px){
  .tabs{
    li:first-child{
      margin-left: 0;
    }
    a{
      border-width: 1px;
      display: inline-block;
      margin: .9em 1em;
    }
    a.is-active{
      border-bottom: 1px solid var(--color-text);
    }
  }
}
