/*
.action-links{
  margin: var(--space-l) 0;
}
tabs.li{ // from tabs.css
  margin-top: 0.9em;
}
.menu-item{
  display: inline;
  padding: 0;
}
ul.menu{
  margin: 0;
}
*/

/*
header ul.menu a
,footer ul.menu a
,.tabs a
{
  text-decoration: none;
  background-color: transparent;
  padding: 10px 16px;
  line-height: calc( var(--line-spacing) + var(--space-m) );
  &:focus{
    color: var(--color-white);
    background-color: var(--color-focus-light);
    outline: none;
  }
}
*/

@import "_design-color-2021.scss";

:root{
}
@media (prefers-color-scheme: dark) {
  :root{
  }
}


ul.menu a.is-active:focus{
  color: var(--color-white);
}



// start - superfish - main menu - primary menu
:root{
  --color-sfmenu-focus-fg:                 #{$color-white};
  --color-sfmenu-focus-bg:                 #{$color-b2-blue};
  --color-sfmenu-hover-bg:                 #{$color-white};
  --color-sfmenu-sub-indicator:            #{$color-j2-cool-gray};
  --color-sfmenu-sub-indicator-focus:      #{$color-white};
  --color-sfmenu-sub-indicator-hover:      #{$color-j4-cool-gray};
  --color-sfmenu-ul-bg:                    #{$color-i5-navy};
}
@media (prefers-color-scheme: dark) {
  :root{
    --color-sfmenu-focus-fg:                 #{$color-b6-blue};
    --color-sfmenu-focus-bg:                 #{$color-b2-blue};
    --color-sfmenu-hover-bg:                 #{$color-k1-gray};
    --color-sfmenu-sub-indicator:            #{$color-j2-cool-gray};
    --color-sfmenu-sub-indicator-focus:      #{$color-b5-blue};
    --color-sfmenu-sub-indicator-hover:      #{$color-j4-cool-gray};
    --color-sfmenu-ul-bg:                    #{$color-i2-navy};
  }
}

ul[id^="superfish-"][id$="-main"]{
  margin: 1em 0;
  &:after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  a,a:link{
    text-decoration: none;
    color: var(--color-text);
    background-color: transparent;
    border: 1px solid transparent;
    line-height: var(--menu-item-line-height);
    .sf-sub-indicator{
      width: 16px;
      height: 16px;
      top:  60%;
      right: 12px;
      &:after{
        color: var(--color-sfmenu-sub-indicator);
        font-size: .7em;
      }
    }
    &.sf-with-ul{
      padding-right: 1.9em;
    }
  }
  &>li{
    a{ // levels 2 and below
      padding: .5em;
    }
    &>a{ // level 1
      padding: .2em 1em .16em .6875em;
    }
    &:not(:last-child)>a{
      margin-right: 1em;
    }
  }
  a:focus{
    outline: none;
    color: var(--color-sfmenu-focus-fg);
    background-color: var(--color-sfmenu-focus-bg);
    .sf-sub-indicator{
      &:after{
        color: var(--color-sfmenu-sub-indicator-focus);
      }
    }
  }
  a:hover{
    color: var(--color-text);
    background-color: var(--color-sfmenu-hover-bg);
    .sf-sub-indicator{
      &:after{
        color: var(--color-sfmenu-sub-indicator-hover);
      }
    }
  }
  ul{
    background-color: var(--color-sfmenu-ul-bg);
    a,a:link{
      .sf-sub-indicator{
        top: 53%;
      }
    }
  }
}
// end - superfish - main menu - primary menu

// start - local tasks tabs
:root{
  --color-local-tasks-tabs-focus-fg:       #{$color-j1-cool-gray};
  --color-local-tasks-tabs-focus-bg:       #{$color-l6-yellow};
  --color-local-tasks-tabs-focus-accent:   #{$color-l2-yellow};
  --color-local-tasks-tabs-hover-fg:       #{$color-j1-cool-gray};
  --color-local-tasks-tabs-hover-bg:       #{$color-m6-orange};
  --color-local-tasks-tabs-hover-accent:   #{$color-m2-orange};
  --color-local-tasks-tabs-active-bg:      #{$color-i6-navy};
}
@media (prefers-color-scheme: dark) {
  :root{
    --color-local-tasks-tabs-focus-fg:       #{$color-l6-yellow};
    --color-local-tasks-tabs-focus-bg:       #{$color-l1-yellow};
    --color-local-tasks-tabs-focus-accent:   #{$color-l4-yellow};
    --color-local-tasks-tabs-hover-fg:       #{$color-m6-orange};
    --color-local-tasks-tabs-hover-bg:       #{$color-m1-orange};
    --color-local-tasks-tabs-hover-accent:   #{$color-m4-orange};
    --color-local-tasks-tabs-active-bg:      #{$color-b1-blue};
  }
}

nav.tabs{
  ul.tabs{
    margin-bottom: 0;
    a{
      border-left: 5px solid transparent;
      &.is-active{
        background-color: var(--color-local-tasks-tabs-active-bg);
        border-left: 5px solid var(--color-text);
      }
      &:focus{
        outline: none;
        color: var(--color-local-tasks-tabs-focus-fg);
        background-color: var(--color-local-tasks-tabs-focus-bg);
        border-left: 5px solid var(--color-local-tasks-tabs-focus-accent);
      }
      &.is-active:hover{
        cursor: default;
      }
      &:not(.is-active):hover{
        color: var(--color-local-tasks-tabs-hover-fg);
        background-color: var(--color-local-tasks-tabs-hover-bg);
        border-left: 5px solid var(--color-local-tasks-tabs-hover-accent);
      }
    }
  }
}
// end - local tasks tabs



@media all and (max-width: 500px){
  .tabs{
    li:first-child{
      margin-left: 0;
    }
    a{
      border-width: 1px;
      display: inline-block;
      margin: .9em 1em;
    }
    a.is-active{
      border-bottom: 1px solid var(--color-text);
    }
  }
}
