.menu-item{
  display: inline;
  padding: 0;
}
ul.menu{
  margin: 0;
}
header ul.menu a
,footer ul.menu a
,.region-content nav.tabs a
{
  text-decoration: none;
  color: $color-black-77;
  background-color: transparent;
  padding: var(--inset-squish-m);
  line-height: calc( var(--line-spacing) + var(--space-m) );
  &:hover{
  }
  &:focus{
    color: $color-white;
    background-color: $color-link-blue;
    outline: none;
  }
}
ul.menu a.is-active:focus{
  color: $color-white;
}
.region-content nav.tabs{
  margin: 0 calc( -2 * var(--nav-tabs-margin-adjustment ) ) var(--heading-spacing);
  ul{
    border-bottom: 1px solid $color-black-54;
  }
  li:first-child{
    margin-left: var(--nav-tabs-margin-adjustment);
  }
  li:last-child{
    margin-right: var(--nav-tabs-margin-adjustment);
  }
  a{
    line-height: 1em;
    border: none;
    border: 1px solid $color-black-54;
    border-width: 1px 1px 0 1px;
    position: relative;
    top: 1px;
    padding-top: 9px;
    &:not(.is-active):hover{
      border-top: 5px solid $color-link-blue;
      padding-top: 5px;
    }
    &.is-active{
      border-top: 5px solid $color-black-77;
      border-bottom: 1px solid $color-white;
      padding-top: 5px;
      &:hover{
        cursor: default;
      }
    }
  }
}
