.contextual-region .contextual .contextual-links a{
  font-size: inherit;
  padding: .5em 1em .75em;
}
.contextual{
  position: absolute; // frankfarm: i'm not sure why we need this, but it resolves a problem in which hovering over something with a contextual menu causes it to translateY 1em, see also docroot/core/themes/stable/css/contextual/contextual.theme.css lines 10 to 14 (???)
  .trigger{
    transform: unset; // frankfarm: same as above but for a different reason: why have the flat edge on the opposite side of the menu?
  }
}
.field{
  // margin-bottom: var(--paragraph-spacing);
  &:last-child{
    // margin-bottom: 0;
  }
}
.media--type-image{
  // background-color: $color-gray-40; // need to restrict this to only person headshots on people pages before you let it back in
}
.field--name-field-ucsfphps-nameaudio{
  audio{
    width: 200px;
    &::-webkit-media-controls-panel{
      background-color: $color-white;
    }
  }
  // audio::-webkit-media-controls-timeline
  audio::-webkit-media-controls-current-time-display
  ,audio::-webkit-media-controls-time-remaining-display
  ,label // hide the filename for Name Pronunciation
  {
    display: none;
  }
}
.date{
  text-transform: uppercase;
  letter-spacing: .025em;
  margin: var(--space-s) 0;
}