.menu-item{
  display: inline;
  padding: 0;
}
ul.menu{
  margin: 0;
}
#body a
,#body a:link
{
  color: inherit;
  padding: inherit;
  line-height: inherit;
  text-decoration-skip-ink: auto;
}
header a
,footer a
,#body nav.tabs a
{
  text-decoration: none;
  color: $color-black-77;
  background-color: transparent;
  padding: var(--inset-squish-m);
  line-height: calc( var(--line-spacing) + var(--space-m) );
  &:hover{
  }
  &:focus{
    color: $color-white;
    background-color: $color-link-blue;
    outline: none;
  }
}
ul.menu a.is-active:focus{
  color: $color-white;
}
#body a{
  background-color: none;
  &:link{
    background-color: none;
    text-decoration: none;
    border-bottom: 1px solid $color-link-blue;
    padding-bottom: 0.0625em;
  }
  &:visited{
  }
  &:hover{
    color: $color-dark-navy;
    border-bottom: 1px solid $color-orange-iactive;
  }
  &:focus{
    color: $color-white;
    background-color: $color-link-blue;
    outline: none;
  }
  &:active{
  }
  }
  .template{
  a{
    &:link{
    }
    &:visited{
    }
    &:hover{
    }
    &:focus{
    }
    &:active{
    }
  }
}
#body nav.tabs{
  ul{
    border-bottom: 1px solid $color-black-54;
  }
  li:first-child{
    margin-left: .3em;
    }
  a{
    line-height: 1em;
    border: none;
    border: 1px solid $color-black-54;
    border-width: 1px 1px 0 1px;
    position: relative;
    top: 1px;
    padding-top: 9px;
    &:not(.is-active):hover{
      border-top: 5px solid $color-link-blue;
      padding-top: 5px;
    }
    &.is-active{
      border-top: 5px solid $color-black-77;
      border-bottom: 1px solid $color-white;
      padding-top: 5px;
      &:hover{
        cursor: default;
      }
    }
  }
}
