.layout-builder{
  word-break: break-word;
  .block-field-blocknodepostfield-media{
    float: none;
    @media all and (min-width: 800px){
      margin: 0;
    }
  }
}
.block-layout-builder{
  // margin-bottom: var(--space-between-blocks);
  h2:first-child{
    margin-top: calc( var(--space-xl) - var(--space-between-blocks) );
  }
}
.block-field-blocknodeexternal-postfield-post-type{
  margin-bottom: var(--space-l);
}
.block-field-blocknodeeventtitle:last-child
,.block-field-blocknodeposttitle:last-child
,.block-field-blocknodeexternal-posttitle:last-child
,.block-field-blocknodeeventtitle+.block-field-blocknodeeventfield-subtitle
,.block-field-blocknodeposttitle+.block-field-blocknodepostfield-subtitle
,.block-field-blocknodeexternal-posttitle+.block-field-blocknodeexternal-postfield-subtitle
{
  margin-bottom: var(--space-between-title-group-and-body);
}
#layout-builder:not(.layout-builder--content-preview-disabled){
  .layout-builder-block{
    padding: 0;
  }
}

// start - when editing the layout template, don't apply these attributes
.layout-builder--content-preview-disabled{
  .columns{
    column-width: initial;
  }
  .block-field-blocknodeeventfield-featured-media
  ,.block-field-blocknodepostfield-media
  {
    float: none;
    margin: 0;
    width: 100%;
  }
}
// end - when editing the layout template, don't apply these attributes

.block-field-blocknodepostfield-media{
  .field{
    margin-bottom: 0;
  }
  &.float-left
  ,&.float-right
  {
    margin-top: .5em;
    article > *:not(.contextual):not(h2):not(h3):not(h4) + *
    ,*:not(h2):not(h3):not(h4) + p
    {
      margin: 0;
    }
  }
  &.float-right{
    .field--name-field-credit{
      font-size: .7em;
      line-height: var(--line-height-s);
      transform-origin: 100% 0;
      transform: rotate(270deg);
      text-align: right;
      position: absolute;
      right: 0;
      margin-bottom: 0;
    }
  }
}
