// this file is for fields that are not specific to any content type

.field--name-field-event-audience{
  .field__item{
    display: inline;
    &:after{
      content: ', ';
    }
    &:last-child:after{
      content: '';
    }
  }
}
.field--name-field-credit{
  *{
    display: inline;
  }
  .clearfix:after{
    display: unset;
  }
  .field--label-inline .field__label
  ,.field--label-inline > .field__item
  ,.field--label-inline .field__items
  {
    padding-right: 0;
  }
  & > .field__item{
    &:after{
      content: ', ';
    }
    &:last-child:after{
      content: '';
    }
  }
}

/*
    transform-origin: 100% 0;
    transform: rotate(
270deg
);
    text-align: right;
*/

.field--name-field-event-moreinfo{
  h2{
    font-weight: normal;
    margin-top: var(--space-xl);
  }
}
.field--name-field-post-type{
  .field__item{
    display: inline;
    &:not(:last-child):after{
      content: ' → ';
    }
  }
}