.field {
  // display: table-row;
}
.field__label
,.field__item:not(.field--name-field-media,.field--name-field-caption,.field--name-field-event-series) {
  // display: table-cell;
  // padding-bottom: 1em;
}
.field__label{
  // margin-bottom: var(--space-below-fields);
}
.block + .block > .field{
  // margin-top: var(--space-between-separate-entities);
}
.block + .block{
  // border: 1px solid red;
}
.field--name-field-event-audience{
  .field__item{
    display: inline;
    &:after{
      content: ', ';
    }
    &:last-child:after{
      content: '';
    }
  }
}
/*
.field--name-field-credit{
  *{
    // display: inline;
  }
  .clearfix:after{
    display: unset;
  }
  .field--label-inline .field__label
  ,.field--label-inline > .field__item
  ,.field--label-inline .field__items
  {
    padding-right: 0;
  }
  & > .field__item{
    &:after{
      content: ', ';
    }
    &:last-child:after{
      content: '';
    }
  }
}
*/
/*
    transform-origin: 100% 0;
    transform: rotate(
270deg
);
    text-align: right;
*/

.field--name-field-post-type{
  .field__item{
    display: inline;
    &:not(:last-child):after{
      content: ' → ';
    }
  }
}
// start - slug margin adjustments · these alter margins so that text lines up horizontally with adjacent images
.field--name-field-event-series{
  margin-top: -6px;
}
.field--name-title{
  // margin-top: -8px;
}
// end - slug margin adjustments · these alter margins so that text lines up horizontally with adjacent images

.field--type-datetime{
  min-width: 17ch;
}
