/*

default options:
  Gallery type           = Multiple rows
  Thumbnail size         = Small
  Thumbnail gap          = One pixel
  Thumbnail border color = None
  Shape                  = Rectangle or square
  Corner style           = Straight
  Float                  = None
  Width                  = 100%

see also:
  - "2021.0201 layout builder styles.xlsx" at
    https://ucsfonline.sharepoint.com/:x:/s/SOPCommunications/Ee1B1oxeuPtFv7vdZ55EiO0BHRw_oIUB8ScZdDtCU7vrVA?e=7zvdbn
  - laurel.blockstyle.yml in the laurel theme folder root

*/

// gallery type
  .all-on-one-row .field--name-field-gallery-items{
    display: flex;
    flex-wrap: nowrap;
    .field__item{
      flex: 1 1 0;
    }
  }
  .one-per-row .field--name-field-gallery-items
  {
    display: block;
    .media--type-image{
      display: flex;
      margin-bottom: 20px;
      grid-column-gap: 20px; // for older browsers
      column-gap: 20px;
      .field--name-field-media-image{
        flex: 0 1 100px;
        min-width: 100px;
      }
      .field--name-field-caption{
        flex: 1 0 auto;
        margin-top: 0;
      }
    }
  }
  .caption-image .field--name-field-gallery-items{
    .media--type-image{
      flex-direction: row-reverse;
    }
  }
  .one-per-row.alternating .field--name-field-gallery-items{
    & > div:nth-child(even){
      .media--type-image{
        flex-direction: row-reverse;
      }
    }
  }

// type and thumbnail size for one per row
  .one-per-row.thumb-size-xl .field--name-field-gallery-items{
    .media--type-image{
      .field--name-field-media-image{
        flex: 0 1 250px;
        min-width: 250px;
      }
    }
  }
  .one-per-row.thumb-size-l .field--name-field-gallery-items{
    .media--type-image{
      .field--name-field-media-image{
        flex: 0 1 200px;
        min-width: 200px;
      }
    }
  }
  .one-per-row.thumb-size-m .field--name-field-gallery-items{
    .media--type-image{
      .field--name-field-media-image{
        flex: 0 1 150px;
        min-width: 150px;
        margin-bottom: 0;
      }
    }
  }

// thumbnail size
  .thumb-size-xl{
    .field--name-field-gallery-items{
      grid-template-columns: 1fr;
      display: grid;
    }
    &.thumb-gap-xl .field--name-field-gallery-items > .field__item{
      margin-bottom: 40px;
    }
    &.thumb-gap-l .field--name-field-gallery-items > .field__item{
      margin-bottom: 20px;
    }
    &.thumb-gap-m .field--name-field-gallery-items > .field__item{
      margin-bottom: 10px;
    }
    &.thumb-gap-s .field--name-field-gallery-items > .field__item{
      margin-bottom: 5px;
    }
    .field--name-field-gallery-items > .field__item{
      margin-bottom: 1px;
    }
  }
  .thumb-size-l .field--name-field-gallery-items{
    grid-template-columns: repeat( auto-fit, minmax(600px, 1fr) );
  }
  .thumb-size-m .field--name-field-gallery-items{
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  }

// thumbnail gap
  .thumb-gap-xl .field--name-field-gallery-items{
    grid-row-gap: 40px;
    row-gap: 40px;
    grid-column-gap: 40px;
    column-gap: 40px;
  }
  .thumb-gap-l .field--name-field-gallery-items{
    grid-row-gap: 20px;
    row-gap: 20px;
    grid-column-gap: 20px;
    column-gap: 20px;
  }
  .thumb-gap-m .field--name-field-gallery-items{
    grid-row-gap: 10px;
    row-gap: 10px;
    grid-column-gap: 10px;
    column-gap: 10px;
  }
  .thumb-gap-s .field--name-field-gallery-items{
    grid-row-gap: 5px;
    row-gap: 5px;
    grid-column-gap: 5px;
    column-gap: 5px;
  }

// thumbnail border color
  .thumb-border{
    &.light-gray .field--name-field-gallery-items{
      img{
        border: 1px solid $color-gray-40;
      }
    }
    &.dark-gray .field--name-field-gallery-items{
      img{
        border: 1px solid $color-gray-70;
      }
    }
  }

// shape
  .shape{
    .drimage2.img-wrap{
      background-color: transparent;
    }
    &.ellipse-circle .field--name-field-gallery-items{
      img{
        border-radius: 50%;
      }
    }
    &.parallelogram .field--name-field-gallery-items{
      img{
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      }
    }
    &.diamond .field--name-field-gallery-items{
      img{
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      }
    }
    &.hexagon .field--name-field-gallery-items{
      img{
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
      }
    }
  }

// corner style
  .corner{
    .drimage2.img-wrap{
      background-color: transparent;
    }
    &.rounded-2 .field--name-field-gallery-items{
      img{
        border-radius: 5px 60px;
      }
    }
    &.rounded-4 .field--name-field-gallery-items{
      img{
        border-radius: 30px;
      }
    }
    &.beveled .field--name-field-gallery-items{
      img{
        clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%);
      }
    }
  }

.block-field-blocknodepostfield-media
,.block-field-blocknodeeventfield-featured-media
{
  // float
  &.float-left{
    float: left;
    margin: 0 var(--space-around-floated-images) var(--space-around-floated-images) 0;
  }
  &.float-right{
    float: right;
    margin: 0 0 var(--space-around-floated-images) var(--space-around-floated-images);
  }
  &.float-none{
    float: none;
    margin: var(--paragraph-spacing) 0;
  }

  // width
  &.width-100{
    width: 100%;
  }
  &.width-75{
    width: 75%;
  }
  &.width-67{
    width: 67%;
  }
  &.width-50{
    width: 50%;
  }
  &.width-33{
    width: 33%;
  }
  &.width-25{
    width: 25%;
  }
}
