.page-node-type-event{
  fieldset{
    border: none;
    margin: 0;
    padding: 0;
    &.wrapper .fieldset-wrapper{
      @media screen and (min-width: 100ch){
        display: flex;
      }
      .field--name-field-event-moreinfo
      ,.field--name-field-organization
      {
        .field__items{
          padding: 0 0 0 1.05em;
          list-style-type: square;
        }
        .field__item{
          display: list-item;
        }
        .field__item:not(:last-child){
          margin-bottom: var(--list-item-spacing);
        }
      }
      fieldset:first-child{
        >*{
          margin-left: var(--gutter);
        }
      }
      fieldset:first-child
      ,fieldset:last-child
      {
        flex: 0 0 26%;
      }
      fieldset:first-child
      ,fieldset:nth-child(2)
      {
        margin-right: var(--gutter);
      }
      fieldset:nth-child(2){
        .fieldset-wrapper{
          & div *{
            max-width: 66ch;
          }
          & div table{
            max-width: 100%;
          }
        }
      }
      fieldset:last-child{
        >*:not(.field--name-field-featured-media){
          margin-right: var(--gutter);
        }
      }
      div{
        display: block;
      }
    }
  }
  [class^='block-field-blocknodeeventfield-']
  ,[class*=' block-field-blocknodeeventfield-']
  {
    &:not(.block-field-blocknodeeventfield-subtitle){
      // margin-bottom: var(--space-s);
      .field__item {
        // padding-left: 2em;
      }
    }
    .field:not(.field--name-field-event-series):not(.field--name-field-event-moreinfo){
      // margin-bottom: var(--space-s);
      // display: flex;
      // flex-wrap: wrap;
      & > *{
        // flex-basis: calc( ( 33ch - 100% ) * 999 );
      }
      & > :nth-child(1){
        // min-width: 11ch;
      }
      & > :nth-child(2){
        // flex-grow: 1;
      }
    }
  }
  .block-field-blocknodeeventfield-subtitle{
    max-width: calc( var(--measure) * 1.5 );
    margin-bottom: calc( var(--space-between-title-group-and-body) - .4em ); // .4em is offset to make baseline line up with the bottom of the image or image+caption
  }
  .field.field--name-field-event-series{
    margin-bottom: var(--space-between-separate-entities);
  }
  .field--name-field-event-moreinfo{
    h2{
      font-weight: normal;
      // margin-top: var(--space-xl);
    }
  }
  .block-field-blocknodeeventfield-location-name {
    // max-width: var(--measure);
    // margin-bottom: var(--space-between-blocks);
  }
  .field--name-field-organization{
    a{
      display: inline-block;
    }
  }
  .block-field-blocknodeeventbody{
    margin-top: var(--space-between-title-group-and-body);
  }
  .field--name-field-event-datetime{
    .field__items{
      column-width: 37ch;
      column-gap: 3em;
      .field__item{
        @media screen and (max-width: 295px){
          // margin-bottom: 1em;
          .smart-date--date
          ,.smart-date--time
          {
            // display: block;
          }
        }
        @media screen and (min-width: 296px){
          // min-width: 37ch;
          .smart-date--date
          ,.smart-date--time
          {
            // display: inline-block;
          }
        }
      }
    }
  }
  .field--name-field-event-moreinfo a{
    display: inline-block;
    &:not(.last-child){
      margin-bottom: 1em;
    }
  }
}
.simple-gmap-address{
  margin-bottom: .5em;
  &+iframe{
    border: 1px solid var(--color-border-dark) !important;
    max-width: 100%;
  }
}

/*  .layout__region--first{
    // margin-bottom: var(--space-between-blocks);
  }
  @media screen and (min-width: 501px) and (max-width: 1063px){
    .layout--twocol-section{
      display: block;
    }
    .block-field-blocknodeeventfield-media{
      width: 40%;
      float: right;
      margin: 5px 0 var(--space-around-floated-images) var(--space-around-floated-images);
    }
  }
*/