.field--name-field-gallery-items{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  grid-row-gap: 1px; // for older browsers
  row-gap: 1px;
  grid-column-gap: 1px; // for older browsers
  column-gap: 1px;

  article > * + *
  ,.field
  ,.media
  {
    margin-top: 0;
    margin-bottom: 0;
    margin-block-end: 0;
  }
}
