.field--name-field-articles.field--type-entity-reference > div:first-child{
  margin-top: 0;
}
.field--name-field-articles{
  .node--type-article{
    &.node--view-mode-for-post-external{
      border: 1px solid $color-black-77;
      padding: var(--space-around-embedded-entities);
      .block-field-blocknodearticlefield-article-date
      ,.block-field-blocknodearticlefield-article-source
      {
        display: inline;
        & > div{
          display: inline;
        }
      }
      .block-field-blocknodearticlefield-article-body{
        margin-top: var(--paragraph-spacing);
      }
      .node--view-mode-date-and-source{
        .node__content{
          display: flex;
          column-gap: var(--space-between-related-entities);
          vertical-align: baseline;
          justify-content: space-between;
        }
      }
      .layout__region--second{
        margin-bottom: 0;
      }
    }
  }
}
.node--type-article{
  .field--name-field-url{
    a{
      display: inline-block;
      word-break: break-all;
    }
  }
  h1
  ,&.node--view-mode-full
    .layout__region--second
      .field:not(.field--name-field-article-image)
        .field__item
  {
    max-width: var(--measure);
  }
  &.node--view-mode-teaser{
    .layout--twocol-section{
      gap: var(--space-between-related-entities);
    }
  }
}
body.page-type-node-article{
  .node--type-article{
    &.node--view-mode-teaser{
      .layout--twocol-section{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      }
    }
  }
}
.field--name-field-articles.field--type-entity-reference > div{
  margin-top: var(--space-between-separate-entities);
  h2 a{
    @include block-link();
  }
}
@media screen and (min-width: 40em){
  body:not(.toolbar-tray-open.toolbar-vertical){
    .node--type-article{
      &.node--view-mode-full .layout__region--second{
        .field:not(.field--name-field-article-image){
          display: grid;
          grid-template-columns: 17ch minmax( 34ch, auto );
        }
      }
    }
  }
}
.block-field-blocknodearticletitle h2 a{
  display: block;
}
.node--type-article{
  &.node--view-mode-for-post-external{
    h2{
      margin-top: 0;
      margin-bottom: var(--space-m);
    }
  }
}
