.field--name-field-articles.field--type-entity-reference > div:first-child{
  margin-top: 0;
}
.field--name-field-articles{
  .node--type-article{
    &.node--view-mode-teaser{
      border: 1px solid $color-black-77;
      padding: var(--space-around-embedded-entities);
    }
  }
}
.node--type-article{
  .field--name-field-url{
    a{
      display: inline-block;
      word-break: break-all;
    }
  }
  h1
  ,&.node--view-mode-full
    .layout__region--second
      .field:not(.field--name-field-article-image)
        .field__item
  {
    max-width: var(--measure);
  }
  // @media screen and (min-width: 40em){
    &.node--view-mode-teaser{
      .layout--twocol-section{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: var(--space-between-related-entities);
        .layout__region--first{
          // order: 2;
        }
      }
    }
  // }
}
.field--name-field-articles.field--type-entity-reference > div{
  margin-top: var(--space-between-separate-entities);
  h2 a{
    display: inline-block;
  }
}
@media screen and (min-width: 40em){
  body:not(.toolbar-tray-open.toolbar-vertical){
    .node--type-article{
      &.node--view-mode-full .layout__region--second{
        .field:not(.field--name-field-article-image){
          display: grid;
          grid-template-columns: 17ch minmax( 34ch, auto );
        }
      }
      @media screen and (min-width: 870px ){
        .layout__region--first:not(.layout-builder__region){
          order: 2;
        }
      }
    }
  }
}
