.page-node-type-event{
  fieldset{
    border: none;
    margin: 0;
    padding: 0;
    &.wrapper .fieldset-wrapper{
      @media screen and (min-width: 100ch){
        display: flex;
      }
      .field--name-field-event-moreinfo
      ,.field--name-field-organization
      {
        .field__items{
          padding: 0 0 0 1.05em;
          list-style-type: square;
        }
        .field__item{
          display: list-item;
        }
        .field__item:not(:last-child){
          margin-bottom: var(--list-item-spacing);
        }
      }
      fieldset:first-child{
        >*{
          margin-left: var(--gutter);
        }
      }
      fieldset:first-child
      ,fieldset:last-child
      {
        flex: 0 0 26%;
      }
      fieldset:first-child
      ,fieldset:nth-child(2)
      {
        margin-right: var(--gutter);
      }
      fieldset:nth-child(2){
        .fieldset-wrapper{
          & div *{
            max-width: 66ch;
          }
          & div table{
            max-width: 100%;
          }
        }
      }
      fieldset:last-child{
        >*:not(.field--name-field-featured-media){
          margin-right: var(--gutter);
        }
      }
      div{
        display: block;
      }
    }
  }
  .field--name-field-event-datetime
  ,.field--name-field-event-audience
  ,.field--name-field-event-location
  {
    // display: grid;
    // grid-template-columns: 11ch auto;

/*
    display: flex;
    flex-wrap: wrap;
    & > :nth-child(1){
      flex: 0 11ch;
    }
    & > :nth-child(2){
      flex: 1 15ch;
    }
*/
/*
    display: grid;
    grid-template-columns: minmax(min-content, 11ch) minmax(200px, 1fr);
    grid-template-columns: 11ch minmax(200px, 1fr);
*/
    display: flex;
    flex-wrap: wrap;
    // --multiplier: calc(33ch - 100%);
    & > *{
      flex-basis: calc( ( 33ch - 100% ) * 999 );
    }
    & > :nth-child(1){
      min-width: 11ch;
    }
    & > :nth-child(2){
      flex-grow: 1;
    }

  }
  .block-field-blocknodeeventfield-event-location{
    margin-bottom: var(--space-between-blocks);
  }
}
