.block-field-blocknodepostfield-post-type{ // breadcrumbs for post
  margin-bottom: var(--space-l);
  .field__item{
    display: inline;
    &:after{
      content: ' \2192 '; // right arrow
    }
    &:last-child:after{
      content: '';
    }
  }
}
