/*
This file is used to specify what elements are set to what fonts. It contains:
- custom font family definitions
- custom properties for font declarations
- font sizing
- element declarations, including:
  - any attribute with "font" in the name: font-size, font-weight, font-family, etc.
  - all line-height attributes

Reminders:

Design body text first. (#55 in Typewolf’s Flawless Typography Checklist: Begin with your body text and build your entire layout around it)

As font-size increases, line-height should decrease.

When choosing fonts, look for these features:
- small caps
- tabular figures
- ligatures



/*



----------------------------------------------------------------------
custom font family definitions
*/

    @font-face{
      font-family: 'Granjon';
      src:url('../webfonts/granjon/GranjonLTStd.eot');
      src:url('../webfonts/granjon/GranjonLTStd.eot?#iefix') format('embedded-opentype'),
      url('../webfonts/granjon/GranjonLTStd.woff') format('woff'),
      url('../webfonts/granjon/GranjonLTStd.ttf') format('truetype');
    }

    // @import url("//hello.myfonts.net/count/32cee0"); // for helv neue family

    /*
    Below, Helv Neue comes in eight combinations of 4 weights and 2 types:
    [light, roman, medium, bold] and [roman, italic]
    L = light
    R = roman
    M = medium
    B = bold
    I = italic

    The numbers 45 through 76 correspond to what you see on http://www.myfonts.com/fonts/linotype/neue-helvetica/
    */
    @font-face {font-family: 'HelvNeue45LR';src: url('../webfonts/helv-neue/32CEE0_1_0.eot');src: url('../webfonts/helv-neue/32CEE0_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/helv-neue/32CEE0_1_0.woff2') format('woff2'),url('../webfonts/helv-neue/32CEE0_1_0.woff') format('woff'),url('../webfonts/helv-neue/32CEE0_1_0.ttf') format('truetype');}

//    @font-face {font-family: 'HelvNeue46LI';src: url('../webfonts/helv-neue/32CEE0_0_0.eot');src: url('../webfonts/helv-neue/32CEE0_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/helv-neue/32CEE0_0_0.woff2') format('woff2'),url('../webfonts/helv-neue/32CEE0_0_0.woff') format('woff'),url('../webfonts/helv-neue/32CEE0_0_0.ttf') format('truetype');}

    @font-face {font-family: 'HelvNeue55RR';src: url('../webfonts/helv-neue/32CEE0_4_0.eot');src: url('../webfonts/helv-neue/32CEE0_4_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/helv-neue/32CEE0_4_0.woff2') format('woff2'),url('../webfonts/helv-neue/32CEE0_4_0.woff') format('woff'),url('../webfonts/helv-neue/32CEE0_4_0.ttf') format('truetype');}

//    @font-face {font-family: 'HelvNeue56RI';src: url('../webfonts/helv-neue/32CEE0_5_0.eot');src: url('../webfonts/helv-neue/32CEE0_5_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/helv-neue/32CEE0_5_0.woff2') format('woff2'),url('../webfonts/helv-neue/32CEE0_5_0.woff') format('woff'),url('../webfonts/helv-neue/32CEE0_5_0.ttf') format('truetype');}

//    @font-face {font-family: 'HelvNeue65MR';src: url('../webfonts/helv-neue/32CEE0_3_0.eot');src: url('../webfonts/helv-neue/32CEE0_3_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/helv-neue/32CEE0_3_0.woff2') format('woff2'),url('../webfonts/helv-neue/32CEE0_3_0.woff') format('woff'),url('../webfonts/helv-neue/32CEE0_3_0.ttf') format('truetype');}

//    @font-face {font-family: 'HelvNeue66MI';src: url('../webfonts/helv-neue/32CEE0_2_0.eot');src: url('../webfonts/helv-neue/32CEE0_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/helv-neue/32CEE0_2_0.woff2') format('woff2'),url('../webfonts/helv-neue/32CEE0_2_0.woff') format('woff'),url('../webfonts/helv-neue/32CEE0_2_0.ttf') format('truetype');}

//    @font-face {font-family: 'HelvNeue75BR';src: url('../webfonts/helv-neue/32CEE0_6_0.eot');src: url('../webfonts/helv-neue/32CEE0_6_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/helv-neue/32CEE0_6_0.woff2') format('woff2'),url('../webfonts/helv-neue/32CEE0_6_0.woff') format('woff'),url('../webfonts/helv-neue/32CEE0_6_0.ttf') format('truetype');}

//    @font-face {font-family: 'HelvNeue76BI';src: url('../webfonts/helv-neue/32CEE0_7_0.eot');src: url('../webfonts/helv-neue/32CEE0_7_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/helv-neue/32CEE0_7_0.woff2') format('woff2'),url('../webfonts/helv-neue/32CEE0_7_0.woff') format('woff'),url('../webfonts/helv-neue/32CEE0_7_0.ttf') format('truetype');}

/*



----------------------------------------------------------------------
webfont definitions
*/
:root{
  // start - we probably don't need these
  --font-system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-serify: Constantia,"Lucida Bright",Lucidabright,"Lucida Serif",Lucida,"DejaVu Serif","Bitstream Vera Serif","Liberation Serif",Georgia,serif;
  --font-sans-serify: "Helvetica Neue",Helvetica,Arial,Frutiger,"Frutiger Linotype",Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,sans-serif;
  --font-special: ltc-goudy-oldstyle-pro,"Goudy Old Style",Garamond,"Big Caslon","Times New Roman",serif;
  --font-plain  : Helvetica Neue, Helvetica, Arial, sans-serif;
  // end - we probably don't need these

  --font-mono: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Menlo,Monaco,"Courier New",Courier,monospace;
  --font-granjon: Granjon, Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  --font-helv-neue-light: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelvNeue45LR", HelveticaNeue, "Helvetica Neue", TeXGyreHerosRegular, Helvetica, Arial, Geneva, sans-serif;
  --font-helv-neue-roman: HelveticaNeue, HelveticaNeueRoman, "HelveticaNeue-Roman", "Helvetica Neue Roman", HelveticaNeue-regular, TeXGyreHerosRegular, Helvetica, "HelvNeue55RR", "Helvetica Neue", Arial, Geneva, sans-serif;
  // --font-helv-neue-medium: "Helvetica Neue Medium", "HelvNeue65RR", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, "HelveticaNeue-Roman", "Helvetica Neue Roman", HelveticaNeue-regular, TeXGyreHerosRegular, Helvetica, Arial, Geneva, sans-serif;
  // --font-helv-neue-bold: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelvNeue75RR", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, "HelveticaNeue-Roman", "Helvetica Neue Roman", HelveticaNeue-regular, TeXGyreHerosRegular, Helvetica, Arial, Geneva, sans-serif;

  font-family: var(--font-system); // fallback

  --menu-item-line-height: 1.3;
}
/*



----------------------------------------------------------------------
font families

see also: _design-tokens-typography.scss
*/
body
,.view-news .views-field-created
{
  font-family: var(--font-helv-neue-roman);
}
h1,h2
,.views-field-title
// ,.field--name-title
{
  font-family: var(--font-granjon);
}
h3
,.field--name-field-subtitle
,.views-field-field-subtitle
,.view-news .item-list .views-summary li a // special for news archive years
{
  font-family: var(--font-helv-neue-light);
}
code,kbd,pre,samp,tt{
  font-family: var(--font-mono);
}
input,button,textarea,select{
  font-family: inherit;
}
/*



----------------------------------------------------------------------
font sizes

*/
h1{
  font-size: 2.41em;
  @media screen and (max-width: 500px){
    font-size: 1.8em;
  }
}
h2
,.views-field-title
,.view-news .item-list .views-summary li a // special for news archive years
{
  font-size: 2.005em;
  @media screen and (max-width: 500px){
    font-size: 1.5em;
  }
}
h3
,.views-field-field-subtitle
{
  font-size: 1.3em;
  @media screen and (max-width: 500px){
    font-size: 1.2em;
  }
}
code,kbd,pre,samp,tt{
  font-size: 1em;
}
.view-news .views-field-created{
  font-size: .8em;
}
/*



----------------------------------------------------------------------
line-heights

*/
h1,h2
,.views-field-title
{
  line-height: var(--line-height-xs); // #92 in Typewolf’s Flawless Typography Checklist: Tighten your line height and letterspacing in large headlines
}
.field--name-field-post-type // post: type (aka breadcrumbs)
,.field--name-field-author // post: byline
,.field--name-created // post: authored on date
{
  font-size: var(--s-3);
}
.field--name-field-subtitle{
  font-size: 1.5em;
  line-height: var(--line-height-m);
  @media screen and (max-width: 500px){
    font-size: 1.3em;
  }
}
sub
,sup
{
  line-height: 0;
}
.block-field-blocknodepostfield-subtitle{
  line-height: var(--line-height-m);
}
/*



----------------------------------------------------------------------
font weights

*/
h1
,h3
,.views-field-field-subtitle
{
  font-weight: normal;
}
.view-news .item-list .views-summary li a // special for news archive years
{
  font-weight: 300;
}
