/*
This file is used to specify what elements are set to what fonts. It contains:
- custom font family definitions
- custom properties for font declarations
- font sizing
- element declarations, including:
  - any attribute with "font" in the name: font-size, font-weight, font-family, etc.
  - all line-height attributes

Reminders:

Design body text first. (#55 in Typewolf’s Flawless Typography Checklist: Begin with your body text and build your entire layout around it)

As font-size increases, line-height should decrease.

When choosing fonts, look for these features:
- small caps
- tabular figures
- ligatures



/*



----------------------------------------------------------------------
custom font family definitions
*/

/*



----------------------------------------------------------------------
webfont definitions
*/

/*



----------------------------------------------------------------------
font family declarations
*/
body{
  font-family: var(--font-sans-serify);
}
code,kbd,pre,samp{
  font-family: var(--font-mono);
}
input,button,textarea,select{
  font-family: inherit;
}
/*



----------------------------------------------------------------------
font sizing

*/
body{
  font-size: var(--fluid0);
}
h1{
  font-size: 2em;
  font-weight: normal;
  line-height: var(--line-height-small); // #92 in Typewolf’s Flawless Typography Checklist: Tighten your line height and letterspacing in large headlines
}
.field--name-field-subtitle
{
  font-size: 1.5em;
  line-height: var(--line-height-small);
}
code,kbd,pre,samp{
  font-size: 1em; // http://code.iamkate.com/html-and-css/fixing-browsers-broken-monospace-font-handling/
}
