/*
----------------------------------------------------------------------
Typography features
*/
body{
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
.lowercase{
  text-transform: lowercase;
}
.uppercase{
  text-transform: uppercase;
}
.smallcaps{ // #37 in Typewolf’s Flawless Typography Checklist: Use small caps when available and avoid pseudo small caps
  -moz-font-feature-settings: "c2sc", "smcp";
  -ms-font-feature-settings: "c2sc", "smcp";
  -webkit-font-feature-settings: "c2sc", "smcp";
  font-feature-settings: "c2sc", "smcp";
  letter-spacing: 0.05em;
}
.lining-figures
,html
{ // #41 in Typewolf’s Flawless Typography Checklist: Use oldstyle figures in running text
  -moz-font-feature-settings: "lnum";
  -ms-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}
.oldstyle-figures
{ // #41 in Typewolf’s Flawless Typography Checklist: Use oldstyle figures in running text
  -moz-font-feature-settings: "onum";
  -ms-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}
.tabular-figures
// ,table // we remove this because it prevents other font-feature-settings from being applied to content within tables
{ // #40 in Typewolf’s Flawless Typography Checklist: Use tabular figures (or a monospaced font) with flush right alignment when setting numbers in tables
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}
h1
,.headline
{ // #91 in Typewolf’s Flawless Typography Checklist: Use discretionary ligatures and swashes in headlines
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
}
code,kbd,pre,samp,tt{
  -moz-font-feature-settings: initial;
  -ms-font-feature-settings: initial;
  -webkit-font-feature-settings: initial;
  font-feature-settings: initial;
}

/*



----------------------------------------------------------------------
hyphenation
*/
main{
  hyphens: auto;
}
h1
,.field--name-field-subtitle
,.views-field-title
{
  hyphens: none;
}

/*



----------------------------------------------------------------------
other declarations related to typography
*/

h1{
  letter-spacing: -1px;
}
h1
,.field--name-field-subtitle
{
  margin-top: -4px; // adjust slug height
}
.layout-builder{
  h1
  ,.field--name-field-subtitle
  {
    margin-top: 0; // reset slug height in layout builder
  }
}
.layout-builder{
  h1{
    max-width: none;
  }
}
// h1,h2,h3,h4,h5,h6
.field--name-field-event-audience .field__items
,.field--name-field-subtitle
,.laurel-max-width-measure
{
  max-width: var(--measure);
}
p
,li
,dt
{
  &:not(.laurel-columns){
    // max-width: var(--measure);
  }
}

// start - https://every-layout.dev/rudiments/axioms/
#body {
  & * {
    // max-width: var(--measure);
  }
  div
  ,header
  ,nav
  ,main
  ,section
  ,footer
  {
    // max-width: none;
  }
}

// end - https://every-layout.dev/rudiments/axioms/
