// pri indicates the primary palette.
// ext indicates the extended palette.
// lean to using primary before resorting to extended.

$color-white:            #ffffff; // pri
$color-black:            #000000; // pri

// special
$color-black-65:         #595959; // not in UCSF palette, used for h4 because #4d4d4d was too dark and #999999 was too light, this is the lightest gray that meets a11y for AAA for normal text on a white background
$color-black-54:         #767676; // not in UCSF palette, this is the lightest gray that meets a11y for AA for normal text on a white background, used for alt nav and image credits and for the footer disclaimer on calpoison, see http://uxmovement.com/content/why-your-gray-text-should-never-exceed-46-brightness/ and http://jxnblk.com/grays/

// blue gray
$color-i2-navy:          #2e405b; //       ext
$color-i3-blue-gray:     #506380; // pri
$color-i4-navy:          #9ba6b6; //       ext
$color-i5-navy:          #e6e9ed; //       ext
$color-i6-navy:          #f2f3f4; // pri

// cool gray
$color-j1-cool-gray:     #21272a; //       ext
$color-j2-cool-gray:     #878d96; // pri
$color-j3-cool-gray:     #b4b9bf; // pri
$color-j4-cool-gray:     #caced2; //       ext
$color-j5-cool-gray:     #e1e3e5; // pri
$color-j6-cool-gray:     #f8f8f9; //       ext

// gray
$color-k1-gray:          #4d4d4d; //       ext
$color-k2-gray:          #808285; //       ext
$color-k3-gray:          #d1d3d3; // pri
$color-k4-gray:          #dfe0e0; //       ext
$color-k5-gray:          #ededed; //       ext
$color-k6-gray:          #f4f4f4; //       ext

// blue
$color-a1-navy:          #052049; // pri
$color-a2-blue:          #0f388a; // pri
$color-a3-cta-blue:      #006be9; // pri
$color-a4-blue:          #4896e8; //       ext
$color-a5-blue:          #b9d6f4; //       ext
$color-a6-blue:          #e6eef6; //       ext
$color-b1-blue:          #064260; //       ext
$color-b2-blue:          #086290; //       ext
$color-b3-blue:          #178ccb; // pri
$color-b4-blue:          #3cb9f0; //       ext
$color-b5-blue:          #b8e6fa; // pri
$color-b6-blue:          #e2f4fc; // pri

// teal
$color-c1-teal:          #0e5258; // pri
$color-c2-teal:          #14828c; // pri
$color-c3-teal:          #16a0ac; // pri
$color-c4-teal:          #60d0da; // pri
$color-c5-teal:          #b4e2e8; // pri
$color-c6-teal:          #e8f6f8; //       ext

// green
$color-d1-green:         #00483a; // pri
$color-d2-green:         #007242; // pri
$color-d3-green:         #32a03e; // pri
$color-d4-green:         #6ecc50; //       ext
$color-d5-green:         #c8ebc3; //       ext
$color-d6-green:         #ebf7eb; //       ext
$color-e1-green:         #006400; //       ext
$color-e2-green:         #2c8a1a; //       ext
$color-e3-chartreuse:    #84c234; // pri
$color-e4-point-reyes:   #b4dc55; // pri
$color-e5-green:         #d7ebb2; //       ext
$color-e6-green:         #f4f8ea; //       ext

// purple
$color-f1-purple:        #2e2872; // pri
$color-f2-purple:        #443e8c; // pri
$color-f3-purple:        #6c62d0; // pri
$color-f4-yosemite:      #8a8ce3; // pri
$color-f5-purple:        #c0c0ea; // pri
$color-f6-purple:        #f0f0f8; //       ext

// violet
$color-g1-violet:        #461850; // pri
$color-g2-violet:        #6c247c; // pri
$color-g3-violet:        #a238ba; // pri
$color-g4-violet:        #c45ed8; // pri
$color-g5-violet:        #eaccf0; // pri
$color-g6-violet:        #f6f0f7; //       ext

// magenta
$color-h1-magenta:       #561038; // pri
$color-h2-magenta:       #821a56; // pri
$color-h3-magenta:       #c42882; // pri
$color-h4-magenta:       #e266ae; // pri
$color-h5-magenta:       #f2c2de; // pri
$color-h6-magenta:       #f7f0f4; //       ext

// secondary
$color-l1-yellow:        #aa6012; //       ext
$color-l2-yellow:        #d68600; //       ext
$color-l3-yellow:        #feb80a; // pri
$color-l4-yellow:        #fed658; //       ext
$color-l5-yellow:        #feec96; //       ext
$color-l6-yellow:        #fef8e4; //       ext

$color-m1-orange:        #a0301e; //       ext
$color-m2-orange:        #c8421e; //       ext
$color-m3-orange:        #fa6e1e; // pri
$color-m4-orange:        #fe8638; //       ext
$color-m5-orange:        #fecc94; //       ext
$color-m6-orange:        #fcecdc; //       ext

$color-n1-red:           #720424; //       ext
$color-n2-red:           #b20a34; //       ext
$color-n3-red:           #e61048; // pri
$color-n4-portola:       #eb5757; //       ext
$color-n5-red:           #ffb0b0; //       ext
$color-n6-red:           #fae8ec; //       ext

$color-text:                      $color-j1-cool-gray;
$color-border-dark:               $color-j2-cool-gray;
$color-border-light:              $color-j5-cool-gray;
$color-link-unvisited:            $color-a3-cta-blue;
$color-link-visited:              $color-f3-purple;
$color-hover-light-mode-dark:     $color-m2-orange;
$color-hover-light-mode-medium:   $color-m4-orange;
$color-hover-light-mode-light:    $color-m6-orange;
$color-focus-light-mode-dark:     $color-l2-yellow;
$color-focus-light-mode-medium:   $color-l4-yellow;
$color-focus-light-mode-light:    $color-l6-yellow;
$color-active:                    $color-m3-orange;
$color-selection:                 $color-l4-yellow;
$color-highlight:                 $color-l6-yellow;
$color-bg-light-gray:             $color-k5-gray;

// start - definitions
:root{
  --color-white:            #ffffff; // pri
  --color-black:            #000000; // pri

  // special
  --color-black-65:         #595959; // not in UCSF palette, used for h4 because #4d4d4d was too dark and #999999 was too light, this is the lightest gray that meets a11y for AAA for normal text on a white background
  --color-black-54:         #767676; // not in UCSF palette, this is the lightest gray that meets a11y for AA for normal text on a white background, used for alt nav and image credits and for the footer disclaimer on calpoison, see http://uxmovement.com/content/why-your-gray-text-should-never-exceed-46-brightness/ and http://jxnblk.com/grays/

  // blue gray
  --color-i2-navy:          #2e405b; //       ext
  --color-i3-blue-gray:     #506380; // pri
  --color-i4-navy:          #9ba6b6; //       ext
  --color-i5-navy:          #e6e9ed; //       ext
  --color-i6-navy:          #f2f3f4; // pri

  // cool gray
  --color-j1-cool-gray:     #21272a; //       ext
  --color-j2-cool-gray:     #878d96; // pri
  --color-j3-cool-gray:     #b4b9bf; // pri
  --color-j4-cool-gray:     #caced2; //       ext
  --color-j5-cool-gray:     #e1e3e5; // pri
  --color-j6-cool-gray:     #f8f8f9; //       ext

  // gray
  --color-k1-gray:          #4d4d4d; //       ext
  --color-k2-gray:          #808285; //       ext
  --color-k3-gray:          #d1d3d3; // pri
  --color-k4-gray:          #dfe0e0; //       ext
  --color-k5-gray:          #ededed; //       ext
  --color-k6-gray:          #f4f4f4; //       ext

  // blue
  --color-a1-navy:          #052049; // pri
  --color-a2-blue:          #0f388a; // pri
  --color-a3-cta-blue:      #006be9; // pri
  --color-a4-blue:          #4896e8; //       ext
  --color-a5-blue:          #b9d6f4; //       ext
  --color-a6-blue:          #e6eef6; //       ext
  --color-b1-blue:          #064260; //       ext
  --color-b2-blue:          #086290; //       ext
  --color-b3-blue:          #178ccb; // pri
  --color-b4-blue:          #3cb9f0; //       ext
  --color-b5-blue:          #b8e6fa; // pri
  --color-b6-blue:          #e2f4fc; // pri

  // teal
  --color-c1-teal:          #0e5258; // pri
  --color-c2-teal:          #14828c; // pri
  --color-c3-teal:          #16a0ac; // pri
  --color-c4-teal:          #60d0da; // pri
  --color-c5-teal:          #b4e2e8; // pri
  --color-c6-teal:          #e8f6f8; //       ext

  // green
  --color-d1-green:         #00483a; // pri
  --color-d2-green:         #007242; // pri
  --color-d3-green:         #32a03e; // pri
  --color-d4-green:         #6ecc50; //       ext
  --color-d5-green:         #c8ebc3; //       ext
  --color-d6-green:         #ebf7eb; //       ext
  --color-e1-green:         #006400; //       ext
  --color-e2-green:         #2c8a1a; //       ext
  --color-e3-chartreuse:    #84c234; // pri
  --color-e4-point-reyes:   #b4dc55; // pri
  --color-e5-green:         #d7ebb2; //       ext
  --color-e6-green:         #f4f8ea; //       ext

  // purple
  --color-f1-purple:        #2e2872; // pri
  --color-f2-purple:        #443e8c; // pri
  --color-f3-purple:        #6c62d0; // pri
  --color-f4-yosemite:      #8a8ce3; // pri
  --color-f5-purple:        #c0c0ea; // pri
  --color-f6-purple:        #f0f0f8; //       ext

  // violet
  --color-g1-violet:        #461850; // pri
  --color-g2-violet:        #6c247c; // pri
  --color-g3-violet:        #a238ba; // pri
  --color-g4-violet:        #c45ed8; // pri
  --color-g5-violet:        #eaccf0; // pri
  --color-g6-violet:        #f6f0f7; //       ext

  // magenta
  --color-h1-magenta:       #561038; // pri
  --color-h2-magenta:       #821a56; // pri
  --color-h3-magenta:       #c42882; // pri
  --color-h4-magenta:       #e266ae; // pri
  --color-h5-magenta:       #f2c2de; // pri
  --color-h6-magenta:       #f7f0f4; //       ext

  // secondary
  --color-l1-yellow:        #aa6012; //       ext
  --color-l2-yellow:        #d68600; //       ext
  --color-l3-yellow:        #feb80a; // pri
  --color-l4-yellow:        #fed658; //       ext
  --color-l5-yellow:        #feec96; //       ext
  --color-l6-yellow:        #fef8e4; //       ext

  --color-m1-orange:        #a0301e; //       ext
  --color-m2-orange:        #c8421e; //       ext
  --color-m3-orange:        #fa6e1e; // pri
  --color-m4-orange:        #fe8638; //       ext
  --color-m5-orange:        #fecc94; //       ext
  --color-m6-orange:        #fcecdc; //       ext

  --color-n1-red:           #720424; //       ext
  --color-n2-red:           #b20a34; //       ext
  --color-n3-red:           #e61048; // pri
  --color-n4-portola:       #eb5757; //       ext
  --color-n5-red:           #ffb0b0; //       ext
  --color-n6-red:           #fae8ec; //       ext
}
// end - definitions

// start - assignments: light mode
:root{
  --color-text:                            var(--color-j1-cool-gray);
  --color-region-outer-bg:                 var(--color-j5-cool-gray);
  --color-region-inner-bg:                 var(--color-i6-navy);
  --color-selection-text:                  var(--color-j1-cool-gray);
  --color-selection-bg:                    var(--color-l5-yellow);
  --color-input-textarea-bg:               var(--color-j6-cool-gray);

  --color-link-border-link:                var(--color-a3-cta-blue);
  --color-link-border-visited:             var(--color-f3-purple);
  --color-link-border-focus:               var(--color-l2-yellow);
  --color-link-border-hover:               var(--color-m4-orange);
  --color-link-fg-active:                  var(--color-white);
  --color-link-bg-active:                  var(--color-m3-orange);
  --color-link-bg-selection:               var(--color-l4-yellow);

  --color-sfmenu-focus-fg:                 var(--color-white);
  --color-sfmenu-focus-bg:                 var(--color-b2-blue);
  --color-sfmenu-sub-indicator-focus:      var(--color-white);
  --color-sfmenu-hover-bg:                 var(--color-white);
  --color-sfmenu-sub-indicator:            var(--color-j2-cool-gray);
  --color-sfmenu-sub-indicator-hover:      var(--color-j4-cool-gray);

  --color-local-tasks-tabs-focus-bg:       var(--color-l6-yellow);
  --color-local-tasks-tabs-focus-accent:   var(--color-l2-yellow);
  --color-local-tasks-tabs-hover-bg:       var(--color-m6-orange);
  --color-local-tasks-tabs-hover-accent:   var(--color-m2-orange);

  --color-border-dark:              var(--color-j2-cool-gray);
  --color-border-light:             var(--color-j5-cool-gray);
  --color-hover-light-mode-dark:    var(--color-m2-orange);
  --color-hover-light-mode-medium:  var(--color-m4-orange);
  --color-hover-light-mode-light:   var(--color-m6-orange);
  --color-focus-light-mode-dark:    var(--color-l2-yellow);
  --color-focus-light-mode-medium:  var(--color-l4-yellow);
  --color-focus-light-mode-light:   var(--color-l6-yellow);
  --color-active:                   var(--color-m3-orange);
  --color-selection:                var(--color-l4-yellow);
  --color-highlight:                var(--color-l6-yellow);
  --color-bg-light-gray:            var(--color-k5-gray);
}
// end - assignments: light mode

// start - assignments: dark mode
@media (prefers-color-scheme: dark) {
  :root{
    --color-text:                     var(--color-j5-cool-gray);
    --color-region-outer-bg:          var(--color-a1-navy);
    --color-region-inner-bg:          var(--color-b1-blue);
    --color-selection-text:           var(--color-j5-cool-gray);
    --color-selection-bg:             var(--color-l1-yellow);
    --color-input-textarea-bg:        var(--color-j1-cool-gray);

  }
}
// end - assignments: dark mode
