// unclassed html elements only

/* 
start - based on a11y-dark theme for JavaScript, CSS, and HTML by Eric Bailey 
*/

pre code {
  color: var(--color-light);
  background-color: var(--color-dark);
  display: block;
  padding: var(--s1);
  overflow-x: auto;
}

/* 
end - based on a11y-dark theme for JavaScript, CSS, and HTML by Eric Bailey 
*/

// regions
article:not(.node--unpublished):not(.media):not(.node--view-mode-image-with-caption):not(.contextual-region){
  padding: var(--space-l) var(--space-from-page-edge);
}

