// unclassed html elements only

/* lists but not lists of menu items */
*{
	& + ul, & + ol
	{
  	margin-top: 0;
	}
}
p
{
  & + ul, & + ol
  {
    margin-top: var(--list-item-spacing);
  }
}
ul{
  margin: 0;
  padding: 0 0 0 1.2em;
  list-style-type: square;
  .paragraph-formatter{
    display: block;
    display: inline-block;
    vertical-align: baseline;
  }
  ::marker{
    // display: inline;
  }
}
ol{
  padding: 0 0 0 2.25em;
}
ul,ol{
  ul,ol{
    margin-top: .5em;
  }
}
li{
  display: list-item;
}
