/* 
start - based on a11y-dark theme for JavaScript, CSS, and HTML by Eric Bailey 
*/

pre code {
  color: var(--color-light);
  background-color: var(--color-dark);
  display: block;
  padding: var(--s1);
  overflow-x: auto;
}

pre[class*='language-'] {
  color: var(--color-light);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.4;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  overflow-x: auto;
}
/* 
end - based on a11y-dark theme for JavaScript, CSS, and HTML by Eric Bailey 
*/

// regions
main{
  padding: var(--space-l) var(--space-from-page-edge);
}

.field--type-datetime{
  min-width: 17ch;
}
