/*
Reminders:

#43 in Typewolf’s Flawless Typography Checklist: Links within sentences should contrast sufficiently with the surrounding text

order: we use LVFHA:
https://twitter.com/meyerweb/status/1279053893440282625

Not all link styles are defined in this file.

----------------------------------------------------------------------
*/
.node{
  a{
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    background-color: transparent;
    padding-bottom: var(--space-between-text-and-link-underline);
    &
    ,&:link
    {
      border-bottom: 1px solid var(--color-link-border-link);
    }
    &:visited{
      border-bottom: 1px solid var(--color-link-border-visited);
    }
    &:focus{
      border-bottom: 1px solid var(--color-link-border-focus);
      outline: none;
    }
    &:hover{
      color: var(--color-a1-navy);
      border-bottom: 1px solid var(--color-link-border-hover);
    }
    &:active{
      color: var(--color-link-fg-active);
      background-color: var(--color-link-bg-active);
    }
    &::selection{
      background-color: var(--color-link-bg-selection);
    }
  }
}


@mixin block-link(){
  display: block;
  text-decoration: none;
  border-bottom: 1px solid var(--color-link-border-link);
  &:link{
    border-bottom: 1px solid var(--color-link-border-link);
  }
  &:visited{
    border-bottom: 1px solid var(--color-link-border-visited);
  }
  &:focus{
    color: var(--color-text);
    background-color: var(--color-focus-light-mode-dark);
    border-bottom: 1px solid transparent;
    outline: none;
  }
  &:hover{
    color: var(--color-a1-navy);
    border-bottom: 1px solid var(--color-hover-light-mode-medium);
  }
  &:active{
    color: var(--color-white);
    background-color: var(--color-active);
    border-bottom: 1px solid transparent;
  }
}
