/*
Reminders:

#43 in Typewolf’s Flawless Typography Checklist: Links within sentences should contrast sufficiently with the surrounding text

pseudo order: we use LVFHA:
https://twitter.com/meyerweb/status/1279053893440282625

Not all link styles are defined in this file.

----------------------------------------------------------------------
*/

/* start - 2021.1215 frankfarm - briefly provides an orange visual cue for anchors when selecting an anchor */
/* based on https://css-tricks.com/on-target/ */
.node__content{
  :target{
    animation: highlight 3s ease-in-out;
  }
  @keyframes highlight{
    0% { border-left: 50px solid $color-m3-orange; }
    100% { border-left: 0px solid $color-m3-orange; }
  }
  a[id]{
    position: relative;
    border-top: 102px solid transparent;
    margin: -30px 0 0;
    background-clip: padding-box;
    &::before{
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      right: 0;
      border-top: 52px solid transparent;
    }
  }
}
/* end - 2021.1215 frankfarm - briefly provides an orange visual cue for anchors when selecting the link to an anchor */

.region-content
,.nav-pager
{
  a{
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    background-color: transparent;
    padding-bottom: var(--space-between-text-and-link-underline);
    &
    ,&:link
    {
      border-bottom: 1px solid var(--color-link-border-link);
    }
    &:visited{
      border-bottom: 1px solid var(--color-link-border-visited);
    }
    &:focus{
      background-color: var(--color-link-bg-focus);
      border-bottom: 1px solid var(--color-link-border-focus);
      outline: none;
    }
    &:hover{
      color: var(--color-text);
      border-bottom: 1px solid var(--color-link-border-hover);
    }
    &:active{
      color: var(--color-link-fg-active);
      background-color: var(--color-link-bg-active);
    }
  }
}

nav.pager{
  .pager__item
  ,.pager__item a
  {
    padding: var(--space-pager-item-padding);
  }
  .pager__item{
    a{
      &
      ,&:link
      {
        border: 1px solid var(--color-link-border-link);
      }
      &:visited{
        border: 1px solid var(--color-link-border-visited);
      }
      &:focus{
        background-color: var(--color-link-bg-focus);
        border: 1px solid var(--color-link-border-focus);
        outline: none;
      }
      &:hover{
        color: var(--color-text);
        border: 1px solid var(--color-link-border-hover);
      }
      &:active{
        background-color: var(--color-link-bg-active);
        span{
          color: var(--color-link-fg-active);
        }
      }
    }
  }
}

/*
@mixin block-link(){
  display: block;
  text-decoration: none;
  border-bottom: 1px solid var(--color-link-border-link);
  &:link{
    border-bottom: 1px solid var(--color-link-border-link);
  }
  &:visited{
    border-bottom: 1px solid var(--color-link-border-visited);
  }
  &:focus{
    color: var(--color-text);
    border-bottom: 1px solid var(--color-link-border-focus);
    outline: none;
  }
  &:hover{
    color: $color-a1-navy;
    border-bottom: 1px solid var(--color-link-block-border-hover);
  }
  &:active{
    color: $color-white;
    background-color: var(--color-link-bg-active);
    border-bottom: 1px solid transparent;
  }
}
*/
