.node li:not(:last-child){
  margin-bottom: var(--list-item-spacing);
}
.messages{
  background-position-y: center;
}
.simple-styleguide{
  & > div {
    margin-top: 3em;
  }
}
table.span
{
  column-span: all;
}
table.no-span
{
  column-span: none;
}
.field--name-field-subtitle
{
  font-size: 1.5em;
  line-height: 1.25;
  margin-left: var(--gutter);
  margin-right: var(--gutter);
}
