.node li:not(:last-child){
  margin-bottom: var(--list-item-spacing);
}
.messages{
  background-position-y: center;
}
.content-type-explanation{
  max-width: var(--measure);
  margin-bottom: 1em;
}
.simple-styleguide{
  & > div {
    margin-top: 3em;
  }
}
table.span
{
  column-span: all;
}
table.no-span
{
  column-span: none;
}
