/*
adapted from:

2019.0913 visually hidden
https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/
visually hidden yet still accessible to screen readers, perhaps slightly better than the version of this that comes with classy theme in D8

2018.0316 Scharnagl snippets
https://twitter.com/justmarkup/status/974573989497593856
*/
.visually-hidden{ // see note above
  clip-path: inset(100%);
  position: absolute; 
  overflow: hidden; 
  clip: rect(0, 0, 0, 0); 
  height: 1px;
  width: 1px; 
  margin: -1px;
  padding: 0;
  border: 0; 
  white-space: nowrap;
}
.clearfix:after{   
  content: '';   
  display: table;   
  clear: both; 
}
.keep-together{
  white-space: nowrap;
}
*:not(h1):last-child{
  margin-bottom: 0;
  padding-bottom: 0;
}