:root{
  @media all and (max-width: 400px){
    --space-from-page-edge            : var(--space-s);
  }
  @media all and (min-width: 401px){
    --space-from-page-edge            : var(--space-m);
  }
  @media all and (min-width: 501px){
    --space-from-page-edge            : var(--space-l);
  }
}
body{
  margin: 0 var(--space-from-page-edge);
}