@media print{
  :root{
    font-size: var(--s-5);
  }
  .hide-from-print{
    display: none;
  }
  h1,h2,h3,h4{
    margin: var(--space-stack-default);
    margin-top: var(--space-l);
  }
  a{
    text-decoration: none;
    border-bottom: none;
  }
  // ul{
  //   margin-left: 1.2em;
  // }
}
