@media print{
  :root{
    font-size: $s-5;
  }
  .hide-from-print{
    display: none;
  }
  h1,h2,h3,h4{
    margin: $space-stack-default;
    margin-top: $space-l;
  }
  a{
    text-decoration: none;
    border-bottom: none;
  }
  // ul{
  //   margin-left: 1.2em;
  // }
}

/* start: http://adrianroselli.com/2018/09/links-list-for-print-styles.html */
@media screen,print {
  sup.footnote{
    padding-left: 0.1em;
    font-style: normal;
    font-weight: normal;
    line-height: $s0;
    letter-spacing: .05em;
    font-size: $s-2;
  }
  #LinkContainer{
    overflow-wrap: break-word;
  }
  #LinkContainer #LinkList li{
    font-family: Helvetica,Arial,sans-serif;
    line-height: $s0;
    letter-spacing: .05em;
    font-size: $s-2;
    margin: $space-stack-xxs;
  }
  sup.footnote,
  #LinkContainer
  {
    display: none;
  }
}
@media print {
  #LinkContainer {
    display: block;
  }
  sup.footnote {
    display: inline;
  }
}
@media screen and (min-width: 68em), print and (min-width: 6in) {
  #LinkContainer ol {
    column-count: 2;
    column-gap: 4em;
  }
}
@media all and (min-width: 80em), print and (min-width: 9in) {
  #LinkContainer ol {
    column-count: 3;
    column-gap: 4em;
  }
}
/* end: http://adrianroselli.com/2018/09/links-list-for-print-styles.html */
