:root{
  --region-margin-block             : 1em;
  --region-margin-inline            : var(--space-s);
  @media all and (min-width: 400px){
    --region-margin-block             : 2em;
    --region-margin-inline            : var(--space-m);
  }
  @media all and (min-width: 1024px){
    --region-margin-block             : 4em;
    --region-margin-inline            : var(--space-l);
  }
}
body{
  background-color: $color-i6-navy;
}
main{
}
main
,div.region
{
  margin: 0 auto;
}
[class*=page-node-type-]{
  main div.region{
    background-color: $color-white;
    // for some reason the padding shortcut doesn't work here
    padding-top: var(--region-margin-block);
    padding-right: var(--region-margin-inline);
    padding-bottom: var(--region-margin-block);
    padding-left: var(--region-margin-inline);
  }
}
.page-node-type-post
,.page-node-type-ucsfpharmacy-person
{
  nav.tabs{
    max-width: var(--content-narrow-width);
    margin: 0 auto;
  }
  main{
    div.region{
      max-width: var(--content-narrow-width);
    }
  }
}
.node{
  line-height: var(--line-spacing);
}
