/*
adapted from:

2019.1001 CSS reset
https://hankchizljaw.com/wrote/a-modern-css-reset/
*/

/* Box sizing and color rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  color: $color-text;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  font-size: 1em; // fallback
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection{
  background-color: $color-l5-yellow;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images and video easier to work with */
img, video
{
  max-width: 100%;
  height: auto;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > *:not(.contextual):not(h2):not(h3):not(h4) + *
,*:not(h2):not(h3):not(h4) + p
{
  margin-top: var(--paragraph-spacing);
}

/* Special for multicol followed by anything */
@media all and (min-width: 501px){
  .laurel-columns+*{
    margin-top: var(--space-between-content-multicolumns);
  }
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h2{
  font-weight: normal;
}

/* start: http://adrianroselli.com/2018/09/links-list-for-print-styles.html */
@media screen,print {
  sup.footnote{
    padding-left: 0.1em;
    font-style: normal;
    font-weight: normal;
    line-height: var(--s0);
    letter-spacing: .05em;
    font-size: var(--s-2);
  }
  #LinkContainer{
    overflow-wrap: break-word;
  }
  #LinkContainer #LinkList li{
    font-family: Helvetica,Arial,sans-serif;
    line-height: var(--s0);
    letter-spacing: .05em;
    font-size: var(--s-2);
    margin: var(--space-stack-xxs);
  }
  sup.footnote,
  #LinkContainer
  {
    display: none;
  }
}
@media print {
  #LinkContainer {
    display: block;
  }
  sup.footnote {
    display: inline;
  }
}
@media screen and (min-width: 68em), print and (min-width: 6in) {
  #LinkContainer ol {
    column-count: 2;
    column-gap: 4em;
  }
}
@media all and (min-width: 80em), print and (min-width: 9in) {
  #LinkContainer ol {
    column-count: 3;
    column-gap: 4em;
  }
}
/* end: http://adrianroselli.com/2018/09/links-list-for-print-styles.html */

// https://piccalil.li/quick-tip/add-scroll-margin-to-all-elements-which-can-be-targeted/
[id] {
  scroll-margin-top: 2ex;
}
