/*
Space in Design Systems

https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62
and especially the image at
https://miro.medium.com/max/1750/1*-c4UabSTLW9fnz9OGwrP5Q.png

Usage:

p.warning{
  padding: var(--inset-xl); // 64px of padding all the way around
} 

Reminders:

Use display:block or display:inline or other display attributes appropriately.

You never or rarely need to set margin-top or margin-left. Instead of margin-top, set margin-bottom on the element that comes before it or set inset on its parent. Instead of margin-left, set margin-right on the element that comes before it or set inset on its parent.

*/
:root{
  --inset-default: 16px 16px 16px 16px;
  --inset-xs     :  4px  4px  4px  4px;
  --inset-s      :  8px  8px  8px  8px;
  --inset-m      : 16px 16px 16px 16px;
  --inset-l      : 32px 32px 32px 32px;
  --inset-xl     : 64px 64px 64px 64px;

  --inset-squish-default:  8px 16px  8px 16px;
  --inset-squish-xs     :  2px  4px  2px  4px;
  --inset-squish-s      :  4px  8px  4px  8px;
  --inset-squish-m      :  8px 16px  8px 16px;
  --inset-squish-l      : 16px 32px 16px 32px;

  --inset-stretch-default: 24px 16px 24px 16px;
  --inset-stretch-s      : 12px  8px 12px  8px;
  --inset-stretch-m      : 24px 16px 24px 16px;

  --stack-default: 0 0 16px 0;
  --stack-xs     : 0 0  4px 0;
  --stack-s      : 0 0  8px 0;
  --stack-m      : 0 0 16px 0;
  --stack-l      : 0 0 32px 0;
  --stack-xl     : 0 0 64px 0;

  --inline-default: 0 16px 0 0;
  --inline-xs     : 0  4px 0 0;
  --inline-s      : 0  8px 0 0;
  --inline-m      : 0 16px 0 0;
  --inline-l      : 0 32px 0 0;
  --inline-xl     : 0 64px 0 0;

  --space-default: 16px;
  --space-xxs    :  2px;
  --space-xs     :  4px;
  --space-s      :  8px;
  --space-m      : 16px;
  --space-l      : 32px;
  --space-xl     : 64px;
  --space-xxl    :128px;

  --line-spacing     : var(--line-height);

  --line-height      : 1.45;
  --line-height-xs   : calc(0.9 * var(--ratio));
  --line-height-s    : calc(0.95 * var(--ratio));
  --line-height-m    : calc(1.05 * var(--ratio));
  --line-height-l    : calc(1.1 * var(--ratio));

  --measure    : 50ch; // https://meyerweb.com/eric/thoughts/2018/06/28/what-is-the-css-ch-unit/ - formula: multiply your desired ch by about .75, we want 66 according to TypeWolf so this becomes 50
  --gutter     : var(--space-l);

  --space-around-floated-images       : var(--space-m);
  --space-around-embedded-entities    : var(--space-m);
  --space-between-layout-columns      : var(--space-xl);
  --space-between-layout-rows         : var(--space-m);
  --space-between-related-entities    : var(--space-m);
  --space-between-separate-entities   : var(--space-l);
  --space-between-content-multicolumns: var(--space-l);
  --space-between-title-group-and-body: var(--space-xl);
  --space-between-blocks              : var(--space-m);
  --space-below-fields                : var(--space-m);
  --space-from-page-edge              : var(--space-m);
  --nav-tabs-margin-adjustment        : var(--space-m);

  --wrapped-image-side-margin   : var(--space-m);
  --wrapped-image-bottom-margin : var(--space-s);

  --heading-spacing  : var(--space-l);
  --paragraph-spacing: var(--space-m);
  --paragraph-spacing-half: calc( var(--paragraph-spacing) * .5 );
  --paragraph-spacing-three-quarters: calc( var(--paragraph-spacing) * .75 );
  --list-item-spacing: calc( var(--paragraph-spacing) * .8 );
}
