/*
Fixed type scales

Based on Rob Weychert’s “A Modern Typographic Scale”:
https://24ways.org/2019/a-modern-typographic-scale/

Usage:

p { font-size: var(--s0); }

*/
:root {
  --ratio: 1.2;
  --s-5  : calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-4  : calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-3  : calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-2  : calc(var(--s0) / var(--ratio) / var(--ratio));
  --s-1  : calc(var(--s0) / var(--ratio));
  --s0   : 1.5rem;
  --s1   : calc(var(--s0) * var(--ratio));
  --s2   : calc(var(--s0) * var(--ratio) * var(--ratio));
  --s3   : calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
  --s4   : calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
  --s5   : calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
}
