:root{
  --border-thin : var(--s-5);
  --border-thick: var(--s-2);

  --color-dark          : hsl(0, 0%,  2%);
  --color-darkish       : hsl(0, 0%, 25%);
  --color-lightish      : hsl(0, 0%, 90%);
  --color-light         : hsl(34, 54%, 97%); /* light beige */
  --color-mid           : hsl(0, 0%, 50%);
  --color-link          : hsl(35, 53%, 29%); /* dark brown */
  --color-focus         : hsl(0, 100%, 50%); /* red */
  --color-focus-light   : hsl(0, 100%, 90%); /* pink */
}
