// uncomment only the layouts we use
//
// @import "every-layout/_image.scss";
// @import "every-layout/_text.scss";
// @import "every-layout/_words.scss";
// @import "every-layout/_shrinkgrow.scss";
// @import "every-layout/_switcher.scss";
// @import "every-layout/_center.scss";
// @import "every-layout/_cover.scss";
// @import "every-layout/_stack.scss";
// @import "every-layout/_box.scss";
// @import "every-layout/_grid.scss";
@import "every-layout/_sidebar.scss";
// @import "every-layout/_cluster.scss";
// @import "every-layout/_frame.scss";
// @import "every-layout/_reel.scss";

// temporary, during development:
header > * {
  border: 1px solid green;
}
#body > *{
  border: 1px solid orange;
}
footer > *{
  border: 1px solid green;
}
