h1{ // #92 in Typewolf’s Flawless Typography Checklist: Tighten your line height and letterspacing in large headlines
  line-height: calc( var(--line-spacing) * ( 2 / 3 ) );
}
*{
  & + h1,& + h2,& + h3,& + h4,& + h5,& + h6
  {
    margin-top: var(--fluid0);
  }
}
article > * + *
,* + p
,* + ul
,* + ol
{
  margin-top: var(--paragraph-spacing);
}
li + li{
  margin-top: var(--list-item-spacing);
}
.block{
  *:last-child{
    margin-bottom: 0;
  }
}
.keep-together{
  white-space: nowrap;
}
