.view-header{
  margin-bottom: var(--space-xl);
}
.view-events
,.view-news
{
  .view-content{
    display: grid;
    gap: var(--space-between-grid-item-rows) var(--space-between-grid-item-columns);
    grid-template-columns: repeat(auto-fit, minmax(35ch, 1fr));
    .views-field-title{
      a{
        padding-bottom: var(--space-s);
      }
      margin-bottom: var(--space-s);
    }
    .views-field-field-media{
      a{
        &:focus img{
          border: 5px solid var(--color-link-bg-focus);
        }
        img:hover{
          border: 5px solid var(--color-link-border-hover);
        }
      }
    }
    img
    ,.media
    {
      max-width: 33.333333%;
      margin-bottom: var(--space-m);
      margin-left: var(--space-around-floated-images);
      float: right;
    }
  }
}
.large-years-summary{ // for things like news archive years
  .item-list{
    .views-summary{
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(13ch, 1fr));
      @media screen and (max-width: 400px){
        grid-template-columns: repeat(auto-fit, minmax(8ch, 1fr));
      }
      gap: 5ch;
      margin-bottom: 0;
      li{
        margin-bottom: 0;
        margin-left: 0;
        // display: inline-block;
      }
    }
    .views-field-created{
      // margin-bottom: var(--space-between-blocks);
    }
  }
}
nav.pager{
  margin-top: var(--space-xl);
  .pager__item{
    &.is-active{
      font-weight: normal;
    }
  }
}