.cover {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 4rem 1rem;
}
.cover > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cover > :first-child:not(.center-v) {
  margin-top: 0;
}
.cover > :last-child:not(.center-v) {
  margin-bottom: 0;
}
.cover > .center-v {
  margin-top: auto;
  margin-bottom: auto;
}