.switcher > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc((var(--s-3) / 2) * -1);
}

.switcher > * > * {
  flex-grow: 1;
  flex-basis: calc((50% - (100% - var(--s-3))) * 999);
  margin: calc(var(--s-3) / 2);
}

.switcher > * > :nth-last-child(n+3),
.switcher > * > :nth-last-child(n+3) ~ * {
  flex-basis: 100%;
}

.switcher > * > :nth-child(1){
  flex-grow: 1.5;
}
